@model IEnumerable<SMA.Entities.TUsuario>


@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Usuarios";
    SMA.Entities.TUsuario usuario = null;
    var usuarioTemp = HttpContextAccessor.HttpContext.Session.GetString("usuario");
    if (usuarioTemp != null)
    {
        usuario = (Newtonsoft.Json.JsonConvert.DeserializeObject<SMA.Entities.TUsuario>(usuarioTemp));
    }
}

<link href="~/lib/datatable/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/lib/datatable/datatables-responsive/css/responsive.bootstrap4.css" rel="stylesheet" />
<link href="~/lib/datatable/datatables-buttons/css/buttons.bootstrap4.css" rel="stylesheet" />



<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Principal")">Inicio</a></li>
                    <li class="breadcrumb-item active">Usuarios</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>





<div class="row">
    <div class="col-md-12 text-left">
        <a class="btn btn-success" asp-action="Create">Nuevo usuario <i class="fa-solid fa-plus"></i></a>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <table class="table table-hover" id="example1">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellidos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cedula)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.IdDepartamentoNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdRolNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {


                    <tr>
                        <td class="text-center">
                            @if (item.Estado)
                            {
                                <i class="text-success fa-solid fa-circle-check"></i>
                                <p class="d-none">Activo</p>
                            }
                            else
                            {
                                <i class="text-danger fa-solid fa-circle-xmark"></i>
                                <p class="d-none">Inactivo</p>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellidos)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Cedula)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdRolNavigation.TipoRol)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-action="Details" asp-route-id="@item.IdUsuario" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>
                            @if (item.Estado && item.IdUsuario != usuario.IdUsuario)
                            {
                                <a asp-route-id="@item.IdUsuario" onclick="enviarID(@item.IdUsuario)" class="btn btn-danger" data-toggle="modal" data-target="#modalEliminar"><i class="fa-solid fa-ban"></i></a>
                            }

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Eliminar-->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="modalEliminar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="Delete">
                <input type="hidden" name="id" id="IdUsuario" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Desactivar usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Seguro que deseas desactivar este usuario?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger">Desactivar</button>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {


    <script src="~/lib/datatable/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/datatable/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatable/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/lib/datatable/datatables-responsive/js/responsive.bootstrap4.js"></script>
    <script src="~/lib/datatable/datatables-buttons/js/dataTables.buttons.js"></script>
    <script src="~/lib/datatable/datatables-buttons/js/buttons.bootstrap4.js"></script>
    <script src="~/lib/datatable/jszip/jszip.js"></script>
    <script src="~/lib/datatable/pdfmake/pdfmake.js"></script>
    <script src="~/lib/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/datatable/datatables-buttons/js/buttons.html5.js"></script>
    <script src="~/lib/datatable/datatables-buttons/js/buttons.print.js"></script>
    <script src="~/lib/datatable/datatables-buttons/js/buttons.colVis.js"></script>









    <script>
        function enviarID(id) {
            debugger;
            $('#IdUsuario').val(id);
        }
    </script>



    <script>
        $(function () {
            $("#example1").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
                dom: 'Bfrtip',

                //poner clase notexport a la columnas que no queremos en las exportaciones
                buttons: [
                    {
                        extend: 'copy',
                        text: 'Copiar',
                        className: 'btn btn-default',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        }
                    },
                    {
                        extend: 'csv',
                        text: 'CSV',
                        className: 'btn btn-default',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        }
                    },
                    {
                        extend: 'excel',
                        text: 'Excel',
                        className: 'btn btn-default',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        }
                    },
                    {
                        extend: 'pdf',
                        text: 'PDF',
                        className: 'btn btn-default',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        }
                    },
                    {
                        extend: 'print',
                        text: 'Imprimir',
                        className: 'btn btn-default',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        }
                    }

                ],
                order: [[1, "desc"]], //ordenar por nombre
                "responsive": true, "lengthChange": false, "autoWidth": false, pageLength: 5,


            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        });
    </script>
}